.materialSymbolsaccountCirclIcon {
  position: relative;
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  overflow: hidden;
}
.accountChild,
.b {
  position: relative;
  flex-shrink: 0;
}
.b {
  display: inline-block;
  width: 132px;
  height: 22px;
}
.accountChild {
  width: 251.51px;
  height: 2.5px;
}
.account,
.accountItem {
  flex-shrink: 0;
  overflow: hidden;
}
.accountItem {
  position: relative;
  width: 185px;
  height: 25px;
}
.account {
  width: 281px;
  height: 199px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.b1 {
  position: relative;
  font-size: 16px;
  font-family: var(--font-iransansx);
  background: linear-gradient(rgba(15, 25, 89, 0.5), rgba(15, 25, 89, 0.5)),
    rgba(15, 25, 89, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.rihome4LineIcon {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-xl);
  width: 282px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.b2,
.input {
  position: relative;
  font-size: 16px;
  display: inline-block;
  font-family: var(--font-iransansx);
  background: linear-gradient(rgba(15, 25, 89, 0.5), rgba(15, 25, 89, 0.5)),
    rgba(15, 25, 89, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  width: 222px;
  flex-shrink: 0;
}
.input {
  border: 0;
  background-color: transparent;
  font-weight: 700;
}
.list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.vectorIcon {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rishutDownLine {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.vectorIcon1 {
  position: absolute;
  height: 83.34%;
  width: 81.87%;
  top: 8.33%;
  right: 10.39%;
  bottom: 8.33%;
  left: 7.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icroundKeyboardDoubleArrowIcon {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.icroundKeyboardDoubleArrowWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  flex-direction: row;
}
.icroundKeyboardDoubleArrowWrapper,
.managerSide,
.rishutDownLineParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rishutDownLineParent {
  overflow: hidden;
  flex-direction: row;
  padding: 18px 21px;
  gap: var(--gap-11xl);
}
.managerSide {
  height: 100vh;
  position: relative;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: -4px 4px 4px rgba(24, 29, 49, 0.3);
  border: 1px solid var(--color-midnightblue-100);
  box-sizing: border-box;
  width: 280px;  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 0px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: 18px;
  color: var(--color-midnightblue-100);
  --font-iransansx: IRANSansX;
  font-family: var(--font-iransansx);
}
@import url("https://fonts.googleapis.com/css2?family=IRANSansX:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-iransansx: IRANSansX;

  /* font sizes */
  --font-size-xl: 16px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-midnightblue-100: #0f1959;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-xl: 20px;
  --gap-171xl: 190px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-26xl: 45px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-18xl: 37px;
  --padding-11xs: 2px;
  --padding-14xl: 33px;

  /* border radiuses */
  --br-11xl: 30px;
  --br-xl: 20px;
}