.table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  }
  
  table {
    position: relative;
    height: 350px;
  border-collapse: collapse;
  overflow-y:auto;
  overflow-x: hidden;
  display: inline-block;
  width: 100%;

  }
  
  th {
    background-color: #0f1959;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    border: 2px solid #0f1959;
    width:5%;
    font-size: 18px;
    
  }
  
  td {
    color: #0f1959;
  text-align: center;
  border:2px solid #0f1959;
  font-size: 16px;
  
  }
.id{
  width:5%
}