@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loginPage {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.university-of-isfahan-logo-1-icon {
  position: relative;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  object-fit: cover;
}
.b5 {
  position: relative;
}
.b6,
.header {
  flex-shrink: 0;
}
.header {
  border-radius: 0 0 var(--br-31xl) var(--br-31xl);
  background-color: var(--color-midnightblue-100);
  width:100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 9px 80px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 460px;
}
.b6 {
  position: relative;
  display: inline-block;
  color: var(--color-gray-100);
  width: 73px;
  height: 61px;
  font-size: 26px;
}
.input2 {
  border: 2px solid var(--color-midnightblue-100);
  background-color: var(--color-white);
  position: absolute;
  height: 81.4%;
  width: 100%;
  top: 18.6%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  overflow: hidden;
  padding: 5%;
  font-size: large;
  font-family: var(--iransansx);
}

.b7,
.name {
  position: absolute;
}
.b7 {
  top: calc(50% - 20px);
  left: calc(50% - 40px);
  display: inline-block;
  width: 78px;
}
.name {
  top: calc(50% - 52px);
  left: calc(50% + 50px);
  width: 99px;
  height: 31px;
  background-color: white;
}
.input-field-name {
  position: relative;
  width: 350px;
  height: 75px;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
}
.b8,
.b9 {
  position: absolute;
}
.b8 {
  top: 91px;
  left: 10px;
  text-decoration: underline;
  letter-spacing: 0.1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 5px;
  font-size: small;
}
.b9 {
  top: calc(50% - 20px);
  left: calc(50% - 32.5px);
  letter-spacing: 0.04em;
  display: inline-block;
  width: 65px;
}
.input-field-pass2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 75px;
  font-size: var(--font-size-lg);
}
.checkbox1,
.pass {
  position: relative;
  flex-shrink: 0;
}
.pass {
  width: 350px;
  height: 100px;
  font-size: var(--font-size-base);
}
.checkbox1 {
  cursor: pointer;
  border-radius: var(--br-12xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-silver);
  box-sizing: border-box;
  width: 28px;
  height: 28px;
}
.im-not-a1 {
  position: relative;
  font-weight: 500;
}
.frame2 {
  position: absolute;
  top: calc(50% - 13px);
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.logo-icon1 {
  position: relative;
  width: 48px;
  height: 46px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame3 {
  position: absolute;
  top: calc(50% - 30px);
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-darkgray);
}
.buttom,
.robot1 {
  position: relative;
  flex-shrink: 0;
}
.robot1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 270px;
  height: 65px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.buttom {
  font-size: var(--font-size-5xl);
  font-family: var(--iransansx);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
}
.login,
.signin-button {
  overflow: hidden;
  justify-content: center;
}
.signin-button {
  cursor: pointer;
  border: 1px solid var(--color-midnightblue-100);
  padding: var(--padding-3xs) 0;
  background-color: var(--color-midnightblue-100);
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login {
  border-radius: var(--br-11xl);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  border: 2px solid var(--color-gray-100);
  flex-direction: column;
  padding: 30px;
  gap: 16px;
  color: var(--color-midnightblue-100);
}
.footer,
.login,
.login-page {
  display: flex;
  align-items: center;
}
.footer {
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--color-midnightblue-100);
  width: 100%;
  height: 58px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.login-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--iransansx);
}
.login-page.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.vector-icon {
  position: relative;
  width: 15.82px;
  height: 15.82px;
}
.b,
.close,
.vector-icon {
  flex-shrink: 0;
}
.close {
  background-color: var(--color-white);
  width: 517px;
  height: 31px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 11px 12px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.b {
  position: relative;
  font-size: 26px;
  display: inline-block;
  color: var(--color-gray-100);
  width: 430px;
  height: 61px;
}
.input {
  position: absolute;
  height: 81.4%;
  width: 100%;
  top: 18.6%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-midnightblue-100);
  box-sizing: border-box;
  overflow: hidden;
  padding: 5%;
  font-size: large;
  font-family: var(--iransansx);
}
.b1 {
  position: relative;
  display: inline-block;
  width: 150px;
  flex-shrink: 0;
}
.wrapper {
  position: absolute;
  height: 31.4%;
  width: 42%;
  top: 0;
  right: 5%;

  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.input-field-pass,
.input-field-pass1 {
  position: relative;
  width: 350px;
  height: 75px;
  flex-shrink: 0;
}
.input-field-pass1 {
  display: none;
}
.b3,
.checkbox {
  position: relative;
}
.b3 {
  align-self: stretch;
  font-size: var(--font-size-base);
  letter-spacing: 0.1px;
  display: none;
  color: var(--color-black);
}
.checkbox {
  border-radius: var(--br-12xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-silver);
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.im-not-a {
  position: relative;
  font-weight: 500;
}
.frame {
  position: absolute;
  top: calc(50% - 13px);
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.logo-icon {
  position: relative;
  width: 48px;
  height: 46px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame1 {
  position: absolute;
  top: calc(50% - 30px);
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-darkgray);
}
.robot {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 304px;
  height: 76px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.b4,
.btn-login {
  position: absolute;
}
.btn-login {
  top: 0;
  left: 0;
  border-radius: 28.5px;
  background-color: var(--color-midnightblue-100);
  width: 141px;
  height: 57px;
}
.b4 {
  top: 12px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 34px;
}
.restore-button {
  position: relative;
  width: 141px;
  height: 57px;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.restore-pass-modal {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-midnightblue-100);
  font-family: var(--iransansx);
}
.close-icon{
  background-color: var(--color-white);
  border: 0px;
  display: flex;
}

.close-btn {
  display: flex;
  justify-content: flex-start;
  width: 60vh;
  height: fit-content;
}
body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}