
:root {
  /* fonts */
  --iransansx: IRANSansX;

  /* font sizes */
  --font-size-xl: 20px;
  --iransansx-size: 25px;

  /* Colors */
  --color-gray-100: #181d31;
  --color-gray-200: rgba(0, 0, 0, 0.56);
  --color-white: #fff;
  --color-midnightblue-100: #0f1959;
  --color-black: #000;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-3xs: 10px;
  --padding-26xl: 45px;
  --padding-lg: 18px;


  /* border radiuses */
  --br-xl: 20px;
  --br-9xs: 4px;
  --br-11xl: 30px;
}
