.Footer {
    border-radius: var(--br-11xl) var(--br-11xl) 0 0;
    background-color: var(--color-midnightblue-100);
    width: 100%;
    height: 59px;
    flex-shrink: 0;
    flex-direction: row;
    padding: var(--padding-3xs) 441px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .b1 {
    position: relative;
  }