.materialSymbolsaccountCirclIcon {
  position: relative;
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  overflow: hidden;
}
.accountChild,
.b {
  position: relative;
  flex-shrink: 0;
}
.b {
  display: inline-block;
  width: 132px;
  height: 22px;
}
.accountChild {
  width: 251.51px;
  height: 2.5px;
}
.account,
.accountItem {
  flex-shrink: 0;
  overflow: hidden;
}
.accountItem {
  position: relative;
  width: 185px;
  height: 25px;
}
.account {
  width: 281px;
  height: 199px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.b1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-iransansx);
  background: linear-gradient(rgba(15, 25, 89, 0.5), rgba(15, 25, 89, 0.5)),
    rgba(15, 25, 89, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.rihome4LineIcon {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-xl);
  width: 282px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.b2,
.input {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-iransansx);
  background: linear-gradient(rgba(15, 25, 89, 0.5), rgba(15, 25, 89, 0.5)),
    rgba(15, 25, 89, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  width: 222px;
  flex-shrink: 0;
}
.input {
  border: 0;
  background-color: transparent;
  font-weight: 700;
}
.list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 15px 12px 111px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.vectorIcon {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rishutDownLine {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.vectorIcon1 {
  position: absolute;
  height: 83.34%;
  width: 81.87%;
  top: 8.33%;
  right: 10.39%;
  bottom: 8.33%;
  left: 7.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icroundKeyboardDoubleArrowIcon {
  position: relative;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  overflow: hidden;
}
.icroundKeyboardDoubleArrowWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 50px;
  height: 55px;
  flex-shrink: 0;
  flex-direction: row;
}
.icroundKeyboardDoubleArrowWrapper,
.managerSide,
.rishutDownLineParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rishutDownLineParent {
  overflow: hidden;
  flex-direction: row;
  padding: 18px 21px;
  gap: var(--gap-11xl);
}
.managerSide {
  position: relative;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: -4px 4px 4px rgba(24, 29, 49, 0.3);
  border: 1px solid var(--color-midnightblue-100);
  box-sizing: border-box;
  width: 315px;  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 35px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-iransansx);
}
